# Rust / Tauri
/src-tauri/target/
**/*.rs.bk

# Node / React
node_modules/
dist/
build/
.eslintcache

# OS / IDE
.DS_Store
.vscode/
.idea/
*.log

# Environment variables
.env
.env.local

# Logs
/src-tauri/logs/